<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div id="cocktail_bg">
    <div class="navbar-wagon">
      <!-- Logo -->
      <%= link_to "/cocktails", class: "navbar-wagon-brand" do %>
        <%#= image_tag "logo.jpeg" %>
      <% end %>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm"></div>

      <!-- Links -->

    </div>




    <%= yield %>


    <div class="footer">
      <div class="footer-links">
      <a href="#"><i class="fa fa-github"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        Recommend Mister Cock to your friend!
      </div>
      </div>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
